/* Hero style */
[data-has-hero] .page {
  height: 100%;
  background: linear-gradient(215deg, var(--sl-hero-color), transparent 40%),
    radial-gradient(var(--sl-hero-color), transparent 40%) no-repeat -60vw -40vh /
      150vw 200vh,
    radial-gradient(var(--sl-hero-color), transparent 65%) no-repeat 50%
      calc(100% + 20rem) / 150rem 30rem;
}

.site-title img {
  width: 32px;
  height: 32px;
}

:root {
  --sl-content-width: 55rem;
  --sl-color-accent-high: hsl(250, 79%, 72%);
  --sl-color-accent: hsl(250, 61%, 66%);
  --sl-color-accent-low: hsl(250, 55%, 57%);
  --sl-hero-color: hsla(250, 69%, 51%, 0.2);
}

:root[data-theme="light"] {
  --sl-color-accent-high: hsl(260, 49%, 42%);
  --sl-color-accent: hsl(260, 54%, 59%);
  --sl-color-accent-low: hsl(260, 52%, 75%);
  --sl-hero-color: hsla(260, 72%, 34%, 0.2);
}

.hero {
  height: 100vh;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

[data-has-hero] .content-panel {
  padding-top: 0;
}

[data-has-hero] .main-pane {
  margin-top: 0;
}

[data-has-hero] .main-frame {
  padding-top: 0;
}

[data-has-hero] header {
  border-bottom: 1px solid transparent;
  background-color: transparent;
  -webkit-backdrop-filter: blur(16px);
  backdrop-filter: blur(16px);
}

[data-has-hero] .hero > img {
  filter: drop-shadow(0 0 3rem var(--sl-hero-color));
}
